/* ____RESET RULES____________ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
}
.flex{
    display: flex;
}




/* ____DEBUG RULES________- */


/* 
.bg-greenyellow{
    background-color:greenyellow ;
}
.bg-green{
    background-color: green;
}
.bg-lightsalmon{
    background-color:lightsalmon ;
}
.bg-lightseagreen{
    background-color:lightseagreen ;
}
.bg-lightskyblue{
    background-color: lightskyblue;
}
.bg-grey{
    background-color:grey ;
}
.bg-yellow{
    background-color:yellow ;
}
.bg-pink{
    background-color:pink ;
}
.bg-magenta{
    background-color:magenta ;
}
.bg-orange{
    background-color: orange;
} */




/* ____button_________ */

.btn{
    padding: 11px 16px;
    border-radius: 20px;
    border: none;
}
.btn-white{
    background-color: white;

}

.btn-blue{
    background-color:rgba(0, 132, 253, 1) ;
    color: white;
    margin-right: 3px;
}
.btn-80{
    width: 80%;
}
/* ___containers______________ */
.container-90{
    width: 90%;
    margin: auto;
}

/* MAIN TAG */
header{
    background-color: rgba(0, 132, 253, 1);
}

nav{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 17px;
    align-items: center
    
}

/* __GENERAL TAG___________ */
section{
    margin-top: 48px;
}
.card{
    background-color: rgba(181, 221, 255, 1);
    padding: 38px 35px 0px 35px;
    border-radius: 31px;
    border: none;
    margin-top: 20px;
    border: dashed blue;
}

.card .option{
    color: rgba(5, 134, 253, 1);
    font-size: 29px;
    font-weight: 800;
    margin-top: 35px;  
    /* margin-bottom: 35px;   */
}

.card .img{
    /* width: 97%; */
    /* margin: auto; */
    /* background-color: fuchsia; */

}
.card img{
    width: 100%;
    margin-bottom: -6px;
}
.demo p{
    margin-top: 35px;
}

.right p{
        line-height: 40px;
        margin-top: 28px;
        margin-bottom: 28px;
        text-align: center;
    
}
.demo button{
    margin: 35px 0 40px;
}
.demo .complex{
    width: 60%;
}
.demo .text-demo{

}
.row .flex{
    flex-direction: column;
    align-items: center;
}
.card .fa-solid:before {
    font-size: 5rem;
    color: rgba(5, 134, 253, 1);
    /* margin-bottom: rem; */
}

/* ____section planning_____________- */

.planning{
    background-color: rgba(151, 146, 228, 1);
}

.planning .img-planning{
    width: 100%;
}
.planning img{
    width: 90%;
    margin-top: 50px;
}
.planning-title{
    font-size: 41px;
    font-weight: bold;
}
.planning-text{
    color: white;
    padding: 5px;
}
.planning-text .planning-p{
    margin-top: 60px;
    line-height: 31px;
    margin-bottom: 20px;
}

.planning .complex-developement{
    background-color: white;
    border-radius: 68px;
    width: 90%;
    margin: auto;
    padding: 0 25px;
    text-align: center;
}


.planning .img-developement{
    width: 100%;
    margin-top: 50px;
}
.img-developement img{
    width: 90%;
    margin-top: 50px;
}
.developement .developement-title{
    font-weight: bold;
}

.developement .planning-p{
    margin-top: 20px;
    line-height: 31px;
}

.developement button{
    background-color: rgba(151, 146, 228, 1);
    margin: 34px 30px;
    font-size: 21px;
    border-radius: 50%;
}

.planning .container-90{
    padding-bottom: 2rem;
}
/* ___testimonials_________________________ */
.testimonials{
    text-align: center;
}
.testimonials .tag{
    width: 90%;
    margin: 40px auto;
    /* background-color: yellow; */
    display: block;
    text-align: center;
    
}

.testimonials .testimonials-title{
    color: rgba(151, 146, 228, 1);
    font-size: 38px;
    font-weight: bold;
}
.container-90 .testimonial-p{
    line-height: 31px;
    margin-top: 45px;
}

.card-tester{
    background-color:rgba(151, 146, 228, 1);
    color: white;
    padding: 38px 37px 0px 37px;
    border-radius: 89px;
    border: none;
    margin-top: 20px;
    border: dashed blue;

}

.card-tester .img-tester{
    height:350px;
    max-width:650px;
    text-align: center;
    width: 350px;
    height: 350px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: auto;
    
}



.card-tester .nat{
    background-image: url(../img/testimonial1.jpg);
}
.card-tester .celia{
    background-image: url(../img/testimonial2.jpg);
}
.card-tester .bob{
    background-image: url(../img/testimonial3.jpg);
}




.card-tester .text-tester{
    margin-top: 40px;
}
.text-tester .person{
    margin: 30px auto;
    font-weight: bold;
}

.text-tester p{
    margin-bottom: 2rem;
    line-height: 37px;
}





















































/* ___MEDIA___Q___MOBILE FIRST_________ */

@media screen and (min-width: 425px){
    .menu-extend{
        display: none;
    }
}


@media screen and (max-width: 768px){
    .menu-extend{
        display: none;
    }
    
    
    
    
}

@media screen and (min-width: 768px){
    .menu i{
        display: none;
    }
    .menu-extend{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }
    .menu-extend ul{
        display: flex;

    }
    .menu-extend li{
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 25px;
    }

    .container-90{
        width: 80%;
    }
        
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .row .card{
        flex-basis: 30%;
        flex-grow: -3;
        padding: 0px;
        margin: 15px;
        
    }
    .row .demo{
        flex-basis: 63%;
        display: flex;
    }
    .demo .text-demo{
        flex-basis: 50%;
        align-self: center;
    }
    .demo .complex{
        flex-basis: 40%;
        align-self: flex-end;
    }









}